<!DOCTYPE html>
<html lang="en">

<head th:replace="commons/header :: header" />

<body>
    <style>
        form {
            width: 20em;
            margin-left: 2em;
            margin-top: .8em;
        }

        #divCheck,
        #botonEnviar {
            margin-top: .5em;
        }
    </style>
    <div th:replace="commons/menu :: menu" />
    <form th:action="@{/permisos/editPermiso}" method="post">
        <h3>Permiso</h3>
        <div class="mb-6">
            <label for="codigo" class="form-label">Codigo</label>
            <input type="text" class="form-control" id="codigo" name="codigo" th:value="${permiso.codigo}">
        </div>
        <div class="mb-6">
            <label for="descripcion" class="form-label">Descripción</label>
            <input type="text" class="form-control" id="descripcion" name="descripcion"
                th:value="${permiso.descripcion}">
        </div>
        <div>
            <input type="submit" value="modificarPermiso" id="botonEnviar">
            <a href="list" class="btn btn-light" id="borrarPermiso">Cancelar</a>
        </div>

    </form>
</body>

</html>